body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* nav{
  position:relative; 
  height:100vh;
  background: #e2e1ef;
} */

/* .navbarListItems{
  display: flex;
  justify-content: center ;
  align-content: center;


  
} */


.navbarListItems li{
  display: inline;
  list-style-type: none;
  
}