body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.pageHeader{
  
  padding: 10px; 
  margin: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: black; 
  font-size: 30px;
  font-weight: bold;
  text-align: center;

}
footer {
  margin-top: 3px;
  clear: both;
    position: relative;

  border-radius: 10px;
  background: #a9a6ae;
  
  
}
.navbarListItem{
  padding: 14px 10px;
  text-decoration: none;
  font-size: 16px;
 font-weight: bold;
  color: rgb(30, 57, 57);
  list-style-type: none;
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
  

}

input{
  width: 60%;
  padding: 10px;
  border: 1px solid #223163;
  margin-top: 6px;
  margin-bottom: 15px;
  resize: vertical;
  
}




.navbarListItems{
  display: flex;
  width: 350px;
}

.navbarListItem{
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
  

  
}
li:hover{
  transform: translateY(-15px);
}
li p{
 
  transition:0.5s;
  opacity: 0;
}
li:hover p{
  opacity: 1;

}


