body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
  text-align: center;
  display: inline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.pageHeader{
  
  padding: 10px; 
  margin: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: black; 
  font-size: 30px;
  font-weight: bold;
  text-align: center;

}
/* footer {
  margin-top: 10px;
  clear: both;
  background-color: #a3b5f0;
  padding: 40px;
  
} */
.navbarListItem{
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: rgb(30, 57, 57);
  list-style-type: none;

}

input{
  width: 60%;
  padding: 10px;
  border: 1px solid #223163;
  margin-top: 6px;
  margin-bottom: 15px;
  resize: vertical;
  
}



