@media screen and (max-width:1000px){
    /* body{
        background-color: red;
    } */
    nav{
        flex-direction: column;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 12px 0;

    }
    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
    }
    .search input{
        margin: 12px 16px;
    }
    nav ul{
        height: 34px;
    }
    
}